/*
  Default theme for BotUI
*/

// you can use your own font.
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
$font-family: 'Open Sans',
sans-serif;
$primary-color: #113b7a;
.botui-container {
    font-size: calc(2.5vmin);
    background-color: #e3edfc;
    font-family: 'Open Sans', sans-serif;
}

.checkboxtable-submit-button {
    background-color: gray;
    font-size: 15px;
    color: white;
    width: fit-content;
    margin: 6px;
    padding: 6px;
    border-radius: 10px;
    margin-left: 0px;
    position: relative;
    top: -10px;
    &:active,
    &:hover {
        background-color: dimgray;
    }
}

.botui-messages-container {
    padding: 10px 20px;
}

.botui-actions-container {
    padding: 10px 20px;
}

.botui-message {
    min-height: 30px;
}

.botui-checkbox {
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0;
}

.button-container {
    display: flex;
}

button {
    font-size: calc(2vmin);
    margin: 10px;
}

table,
tr,
th,
td {
    border: 1px solid #333333;
    border-collapse: collapse;
}

.switch {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 0;
}

.botui-message-button {
    position: relative;
    display: flex;
    padding: 0.5vmin 1vmin 0.5vmin 1.5vmin;
    border-radius: 1vmin;
    border-color: #000000;
    background-color: #1c52a3;
    color: #fff;
    width: 12.5vmin;
    vertical-align: bottom;
    text-align: left;
    font-size: calc(2vmin);
    -webkit-transition: 0.4s;
    transition: 0.4s;
    height: 3vmin;
    cursor: pointer;
}

.botui-message-button:before {
    position: absolute;
    content: '';
    height: calc(2.4vmin);
    width: calc(2.4vmin);
    border-radius: 0.8vmin;
    background-color: #fff;
    right: 0.3vmin;
    bottom: 0.3vmin;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked+.botui-message-button {
    background-color: #a31c1c;
    flex-direction: row-reverse;
}

input:checked+.botui-message-button:before {
    -webkit-transform: translateX(-9.5vmin);
    -ms-transform: translateX(-9.5vmin);
    transform: translateX(-9.5vmin);
}

.botui-message-button-incorrect {
    background-color: #a31c1c;
    color: #fff;
}

.botui-message-content {
    padding: 7px 13px;
    border-radius: 15px;
    color: $primary-color;
    background-color: #fff;
    &.human {
        // if human = true
        color: #f7f8f8;
        background-color: #1c52a3;
    }
    &.incorrect {
        background-color: #fba4a4;
        &.clickable:hover {
            box-shadow: 0 0 0 3px rgba(130, 4, 4, 0.5) inset;
        }
    }
    &.text {
        line-height: 1.3;
    }
    &.loading {
        background-color: rgba(206, 206, 206, 0.5);
        line-height: 1.3;
        text-align: center;
    }
    &.embed {
        padding: 5px;
        border-radius: 5px;
    }
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.botui-message-content-link {
    color: $primary-color;
}

.botui-actions-text-input {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 5px 7px;
    font-family: $font-family;
    background-color: transparent;
    color: $primary-color;
    border-bottom: 1px solid #1c52a3;
}

.botui-actions-text-submit {
    color: #fff;
    width: 30px;
    padding: 5px;
    height: 30px;
    line-height: 1;
    border-radius: 50%;
    border: 1px solid #1c52a3;
    background: #777979;
}

.botui-actions-buttons-button {
    border: 0;
    color: #fff;
    line-height: 1;
    cursor: pointer;
    font-size: calc(2.5vmin);
    font-weight: 500;
    padding: 7px 15px;
    border-radius: 4px;
    font-family: $font-family;
    background: #777979;
    box-shadow: 2px 3px 4px 0 rgba(0, 0, 0, 0.25);
}

.botui-actions-text-select {
    border: 0;
    outline: 0;
    border-radius: 0;
    padding: 5px 7px;
    font-family: 'Open Sans', sans-serif;
    background-color: transparent;
    color: $primary-color;
    border-bottom: 1px solid #1c52a3;
}

.botui-actions-text-searchselect {
    border: 0;
    outline: 0;
    border-radius: 0;
    padding: 5px 7px;
    font-family: 'Open Sans', sans-serif;
    background-color: transparent;
    color: $primary-color;
    border-bottom: 1px solid #1c52a3;
}

.botui-actions-text-searchselect .dropdown-toggle {
    border: none !important;
}

.botui-actions-text-searchselect .selected-tag {
    background-color: transparent !important;
    border: 0 !important;
}


/*
  Animation of messages
  For details on how to change, see: https://vuejs.org/v2/guide/transitions.html
*/

.slide-fade-enter-active {
    transition: all 0.3s ease;
}

.slide-fade-enter,
.slide-fade-leave-to {
    opacity: 0;
    transform: translateX(-10px);
}


/*
  Animation of loading dots
*/

.dot {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 0.5rem;
    display: inline-block;
    background-color: $primary-color;
    &:nth-last-child(1) {
        margin-left: 0.3rem;
        animation: loading 0.6s 0.3s linear infinite;
    }
    &:nth-last-child(2) {
        margin-left: 0.3rem;
        animation: loading 0.6s 0.2s linear infinite;
    }
    &:nth-last-child(3) {
        animation: loading 0.6s 0.1s linear infinite;
    }
}

@keyframes loading {
    0% {
        transform: translate(0, 0);
        background-color: #ababab;
    }
    25% {
        transform: translate(0, -3px);
    }
    50% {
        transform: translate(0, 0px);
        background-color: #ababab;
    }
    75% {
        transform: translate(0, 3px);
    }
    100% {
        transform: translate(0, 0px);
    }
}